[run]
omit = 
    oc_lettings_site/tests/*
    oc_lettings_site/migrations/*
    lettings/migrations/*
    lettings/tests/*
    profiles/migrations/*
    profiles/tests/*
    __init__.py
    env/*
    env/Lib/*